{
  "plugins": ["prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "tabWidth": 4,
        "parser": "blade"
      }
    }
  ],
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true
}
